main {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
    color: #fff;
}

.espaco {
    margin-bottom: 3.5em;
}

.formulario {
    background: rgba(0, 0, 0, 0.3);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario label {
    font-weight: bold;
    font-size: 1.3rem;
}

.formulario input,
.formulario textarea,
.formulario select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #1a1a1a;
    color: #fff;
}

.btn-enviar {
    padding: 12px;
    background: #ff7b00;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s;
}

.btn-enviar:hover {
    background: #ff9a3c;
    transform: scale(1.03);
}