@font-face { 
    font-family: KustomCulture-Regular; 
    src: url('../KustomCulture-Regular.ttf'); 
} 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1b1a1b;
    background-image: url('../IMAGENS/textura-ferrugem.jpg'); /* textura enferrujada sutil */
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    color: #f2f2f2;
}

body {
    display: flex;
    flex-direction: column;
}

/* ------------------------------- */
/* CABEÇALHO */
header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;  
    align-items: center;
    background-color: rgba(20, 18, 19, 0.95);
    border-bottom: 2px solid #b7410e; /* ferrugem */
    box-shadow: 0 2px 10px rgba(183, 65, 14, 0.3);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family:'KustomCulture-Regular';
    font-size: 38px;
}

header img {
    width: 40px;
    height: auto;
    padding-left: 20px;
    padding-top: 5px;
    filter: brightness(0.85);
}

/* ------------------------------- */
/* NAVEGAÇÃO */
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #d1caca;
    transition: all 0.2s ease-in-out;
}

nav a.active {
    color: #ffffff;
    text-shadow: 0 0 8px #b7410e, 0 0 20px #5a2505;
}

a:hover {
    color: #e6e6e6;               
    text-shadow: 0 0 10px #b7410e, 0 0 20px #ff914d;
    transform: scale(1.05);
    transition: 0.2s;
}

/* ------------------------------- */
/* CONTEÚDO PRINCIPAL */
main {
    flex: 1;
    text-align: center;
    margin-top: 7em;
    margin-bottom: 6em;
    text-decoration: none;
}

.font {
    font-family:'KustomCulture-Regular';
    color: #ffffff;
    text-shadow: 0 0 15px rgba(183, 65, 14, 0.4);
    /* SOMBRA ATRÁS DAS LETRAS */
}

h1 { 
    font-size: 70px; 
    letter-spacing: 2px;
}

h2 { 
    font-size: 45px; 
    margin-top: -40px; 
    color: #d1caca;
}

/* ------------------------------- */
/* IMAGENS */
span img {
    border-radius: 30px;
    margin-top: 40px;
    box-shadow: 0 0 25px rgba(183, 65, 14, 0.3);
    filter: sepia(10%) contrast(110%);
    transition: 0.3s;
}

span img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 35px rgba(183, 65, 14, 0.5);
}

/* ------------------------------- */
/* PARÁGRAFOS */
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #d8d8d8;
}

/* ------------------------------- */
/* RODAPÉ */
footer {
    margin-top: auto;
    padding: 1em;
    width: 100%;
    font-size: 14px;
    color: #a69f9f;
    background-color: #1a1718; 
    border-top: 2px solid #5a2505;
    box-shadow: 0 -2px 10px rgba(183, 65, 14, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
